<section>
<h1 class="content-title">
  {{ if .IsNode }}
  <a href="{{ .Permalink }}">{{ .Title}}</a>
  {{ else }}
  <a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} :: Draft {{end}}</a>
  {{ end }}
</h1>
{{ if .IsPage }}
{{ if .Params.subtitle }}<p class=subtitle>{{ .Params.subtitle }}</p>{{ end }}
{{ if or (eq .Type "post") (.Params.meta)  }}
  <span class="content-meta">
    {{ if .Params.author }}
      <i data-feather="user"></i>
      <span class="author">
          {{ .Params.author }}
      </span>
    {{ end }}


      {{ if not .Params.hidedate }}
      <i data-feather="calendar"></i>
      <span>{{ .Date.Format "Jan 2, 2006" }}</span>
      {{end }}

    {{ if not .Params.hidereadtime }}
      <i data-feather="clock"></i>
      <span>
          {{ .ReadingTime }} min read
      </span>
      {{ end }}

      {{ if .Params.categories }}
      <br>
      <i data-feather="tag"></i>
      <span>
      {{ range .Params.categories }}
          <a  href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      </span>
    {{ end }}
  </span>
{{ end }}
{{ end }}
</section>
